.formContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
        width: 80%;
        height: 100%;
        border-collapse: collapse;
        color: white;
        border-radius: 8px;
        padding: 1rem;
        box-sizing: border-box;

    }

    .input {
        background-color: var(--color-border);
        border-radius: 5px;
        border: none;
        color: var(--color-foreground);
        width: 20vw;
        height: 2rem;
        padding: 0.4rem;
        margin: 0.5rem;
    }