p {
  color: var(--color-foreground)
}

.entryCard {
    max-width: 70vw;
    width: 70vw;
    height: fit-content;
    background-color: var(--color-border);
    border-radius: 8px 8px 0 0;
    padding: 1rem;
    margin: 1rem 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.entryCardDetails {
    max-width: 70vw;
    width: 70vw;
    height: fit-content;
    background-color: var(--color-border);
    border-radius: 0 0 8px 8px;
    padding: 1rem;
    margin: 0 0 1rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.bottomDiv{
  width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.toggle {
    cursor: pointer;
}

.deleteEntryButton {
    background-color: darkred;
    color: white;
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease;
  }
  
  .deleteEntryButton:hover {
    background-color: red;
  }

  .deleteEntryButton:active {
    transform: scale(0.95);
  }
  
  .editEntryButton {
    background-color: var(--color-warning); 
    color: black;
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease;
  }

  .editEntryButton:hover {
    background-color: goldenrod;
  }

  .editEntryButton:active {
    transform: scale(0.95);
  }

  p {
    margin: 0.2rem;
  }

.modalButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
}

.cancelButton {
    border-radius: 8px;
    border: none;
    padding: 1rem;
    cursor: pointer;
    background-color: #1d4ed8;
    font-weight: 500;
    color: var(--color-foreground);
}
.cancelButton:hover {
    color: var(--color-foreground);
    background-color: var(--color-primary);
}
.cancelButton:active {
    transform: scale(0.90);
}