.patientCard {
    max-width:  50vw;
    width: 70vw;
    height: fit-content;
    background-color: var(--color-border);
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilePicture {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--color-secondary);
    border-radius: 0;
    min-width: 140px;
    min-height: 200px;
}

.medicalEntries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    padding: 1rem;
}

.entryCard {
    width: 100%;
    height: fit-content;
    background-color: var(--color-border);
    border-radius: 8px;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.title {
    align-self: start;
}

.rightSide {
    display: flex;
    justify-items: center;
    align-items: flex-start;
    color: var(--color-secondary);
    margin: 0.5rem;
    padding-left: 3rem;
    width: 100%;
}

.deleteButton {
    align-self: flex-end;
    border-radius: 8px;
    border: none;
    margin-top: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: darkred;
    color: var(--color-foreground);
    margin-left: 1rem;
}
.deleteButton:hover {
    color: var(--color-foreground);
    background-color: red;
}

.deleteButton:active {
    transform: scale(0.90);
}

.modalButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
}

.confirmButton {
    border-radius: 8px;
    border: none;
    padding: 1rem;
    cursor: pointer;
    background-color: darkred;
    color: var(--color-foreground);
}
.confirmButton:hover {
    color: var(--color-foreground);
    background-color: red;
}
.confirmButton:active {
    transform: scale(0.90);
}

.cancelButton {
    border-radius: 8px;
    border: none;
    padding: 1rem;
    cursor: pointer;
    background-color: #1d4ed8;;
    color: var(--color-foreground);
}
.cancelButton:hover {
    color: var(--color-foreground);
    background-color: var(--color-primary);
}
.cancelButton:active {
    transform: scale(0.90);
}