img {
    justify-self: start;
    border-radius: 8px;
    margin-right: 1.5rem;
}

.navbarButton {
    height: auto;
    max-width:  auto;
    padding: 1.5rem;
    border: none;
    cursor: pointer;
    color: var(--color-foreground);
    background-color: transparent;
    transition: var(--color-primary) 0.3s ease;
    font-weight: 600;
}

.navbarButton:hover {
    background-color: #5555;
}

.navbarNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    margin: 1rem;
    border-radius: 10px;
    z-index:1000;
    background-color: #0f1b3b;
}